.label{
    -fx-font-family: "Cascadia Code" ;
    -fx-font-size: 18;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

#LabelSelectImageName {
    -fx-font-size: 8px !important;
}

.button{
    -fx-font-family: "Cascadia Code";
    -fx-font-weight: bold;
    -fx-background-color: LightGrey;
    -fx-background-insets: 0;
    -fx-background-radius: 10;

}

.button:hover {
    -fx-background-color: LightBlue;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.toggle-button {
    -fx-font-family: "Cascadia Code";
    -fx-font-weight: bold;
    -fx-background-color: LightGrey;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

.toggle-button:selected{
    -fx-background-color: #32CD32;
}

.toggle-button:hover{
    -fx-background-color: #32CD32;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.combo-box {
    -fx-pref-width: 70px;
    -fx-font-family: "Cascadia Code";
    -fx-font-weight: bold;
    -fx-background-color: LightGrey;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

/* Текст выбранного значения */
.combo-box .list-cell {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

/* Hover на самом ComboBox */
.combo-box:hover {
    -fx-background-color: #32CD32;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* Кнопка со стрелкой */
.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-font-size: 8;
}

/* Стрелка */
.combo-box .arrow {
    -fx-background-color: black;
}

/* Если хочешь отдельный зелёный стиль после выбора */
.combo-box.selected-choice {
    -fx-background-color: #32CD32;
}

/* Выпадающее окно */
.combo-box-popup .list-view {
    -fx-background-color: LightGrey;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-height: 90px;
    -fx-pref-width: 70px;
}

/* Элементы списка */
.combo-box-popup .list-view .list-cell {
    -fx-font-family: "Cascadia Code";
    -fx-font-size: 10px;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-background-color: LightGrey;
}

/* Hover / selected в списке */
.combo-box-popup .list-view .list-cell:hover,
.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #32CD32;
    -fx-text-fill: black;
    -fx-background-radius: 8;
}